# **Data Wrangling Lab**

## Objectives

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("survey_data.csv")
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [3]:
df.shape

(11552, 85)

## Finding duplicates

 Find how many duplicate rows exist in the dataframe.

In [4]:
df[df.duplicated(subset=None, keep='first')].shape[0]

154

In [5]:
df[df.duplicated(subset='Respondent', keep='first')].shape[0]

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [6]:
df_clean = df.drop_duplicates(subset=None, keep='first')
df_clean.shape[0]

11398

Verify if duplicates were actually dropped.

In [7]:
df_clean[df_clean.duplicated(subset=None, keep='first')].shape

(0, 85)

## Finding Missing values

Find the missing values for all columns.

In [8]:
df_clean.isnull().sum().sum()

30967

In [9]:
df_clean[['Country']].isnull().sum()

Country    0
dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [10]:
df_clean['WorkLoc'].isnull().sum()

32

In [11]:
df_clean.loc[df_clean['WorkLoc'].isnull(),['WorkLoc']].head()

     WorkLoc
130      NaN
242      NaN
866      NaN
1455     NaN
1753     NaN

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [12]:
df_clean['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

In [13]:
df_clean['ConvertedComp'].describe()

count    1.058200e+04
mean     1.315967e+05
std      2.947865e+05
min      0.000000e+00
25%      2.686800e+04
50%      5.774500e+04
75%      1.000000e+05
max      2.000000e+06
Name: ConvertedComp, dtype: float64

In [14]:
df_clean['UndergradMajor'].value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [15]:
#Note of the WorkLoc majority value here, for future reference 
# 6806
df_clean.describe(include='all')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
count,11398.000000,11398,11398,11398,11317,11398,11398,11347,11286,10661,...,11313,9433,11111.000000,11325,11275,10856,10723,11258,11379,11384
unique,NaN,2,2,4,3,2,135,3,9,12,...,6,15,NaN,7,2,7,89,2,3,3
top,NaN,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
freq,NaN,10618,9273,3652,5468,10968,3127,9658,5852,6953,...,8704,2099,NaN,10480,11196,10066,7357,6699,8048,8245
mean,12490.392437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.778895,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,7235.461999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,7.393686,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,6264.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,12484.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,18784.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,25142.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Impute (replace) all the empty rows in the column WorkLoc with the value identified as majority.

In [16]:
df_clean['WorkLoc'].replace( to_replace = np.nan, value = 'Office')

0                                                  Home
1                                                Office
2                                                  Home
3                                                  Home
4        Other place, such as a coworking space or cafe
                              ...
11547                                              Home
11548                                              Home
11549                                            Office
11550                                              Home
11551                                            Office
Name: WorkLoc, Length: 11398, dtype: object

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [17]:
df_clean['WorkLoc'].value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section, a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq' is created.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [18]:
df_clean[['CompFreq','CompTotal']].head(10)

  CompFreq  CompTotal
0   Yearly    61000.0
1   Yearly   138000.0
2   Yearly    90000.0
3  Monthly    29000.0
4   Yearly    90000.0
5  Monthly     9500.0
6  Monthly     3000.0
7   Yearly   103000.0
8   Yearly    69000.0
9  Monthly     8000.0

In [19]:
df_clean[['CompFreq','CompTotal']].dtypes

CompFreq      object
CompTotal    float64
dtype: object

New column named 'NormalizedAnnualCompensation' created

In [20]:
def calc_run_diff( freq , P ):
    if freq == 'Yearly':
        return P
    elif freq == 'Monthly':
        return P*12
    else :
        return P*52

In [21]:
df_clean['NormalizedAnnualCompensation'] = df_clean.apply(
         lambda row: calc_run_diff(row['CompFreq'], row['CompTotal']),
         axis=1)
#baseball_df['RD'] = run_diffs_apply

C:\Users\alexander\AppData\Local\Temp\ipykernel_11968\3048704717.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['NormalizedAnnualCompensation'] = df_clean.apply(

In [22]:
df_clean[['CompFreq','CompTotal','NormalizedAnnualCompensation']].head(15)

   CompFreq  CompTotal  NormalizedAnnualCompensation
0    Yearly    61000.0                       61000.0
1    Yearly   138000.0                      138000.0
2    Yearly    90000.0                       90000.0
3   Monthly    29000.0                      348000.0
4    Yearly    90000.0                       90000.0
5   Monthly     9500.0                      114000.0
6   Monthly     3000.0                       36000.0
7    Yearly   103000.0                      103000.0
8    Yearly    69000.0                       69000.0
9   Monthly     8000.0                       96000.0
10  Monthly     7000.0                       84000.0
11   Yearly   114000.0                      114000.0
12   Weekly     2000.0                      104000.0
13   Weekly    22000.0                     1144000.0
14  Monthly    96000.0                     1152000.0

In [23]:
df_clean['CompFreq'].value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

In [24]:
df_clean[['CompFreq','CompTotal','NormalizedAnnualCompensation']].describe()

          CompTotal  NormalizedAnnualCompensation
count  1.058900e+04                  1.058900e+04
mean   7.570477e+05                  6.170771e+06
std    9.705598e+06                  9.842866e+07
min    0.000000e+00                  0.000000e+00
25%    2.500000e+04                  5.200000e+04
50%    6.500000e+04                  1.000000e+05
75%    1.200000e+05                  3.600000e+05
max    7.000000e+08                  8.400000e+09

In [25]:
df_clean.to_csv('survey_data_clean.csv',index=False)